body {
  --black: hsl(0, 0%, 0%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --dark-blue: hsl(213, 19%, 18%);
  --light-grey: hsl(217, 12%, 63%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(25, 97%, 53%);

  font-family: "Overpass";
  background-color: var(--black);
  display: grid;
  justify-items: center;
  height: 43.75rem;
  margin: 0rem;
}

h1 {
  margin: 0rem;
  color: var(--white);
  line-height: -1, 25rem;
  margin-bottom: .625rem;
  font-weight: 700;
}

p {
  font-size: .9375rem;
  color: var(--light-grey);
  margin: 0rem;
  font-weight: 400;
}

a {
  display: inline-flex;
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  width: 20.625rem;
  height: 2.5rem;
  border-radius: 3.125rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
}

button {
  background-color: var(--dark-blue);
  color: var(--light-grey);
  border-radius: 6.25rem;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 400;
  font-family: "Overpass";
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--light-grey);
  color: var(--white);
}

.active {
  background-color: var(--orange);
  color: var(--white);
}

.subtexto {
  text-align: center;
}

.caixa {
  background-color: var(--very-dark-blue);
  grid-column: 1;
  border-radius: 2rem;
  margin: auto;
  width: 23.75rem;
  height: 25rem;
}

.img {
  background-color: var(--dark-blue);
  border-radius: 3.125rem;
  padding: 0.75rem 0.75rem;
}

.img2 {
  margin: auto;
}

.itens {
  display: grid;
  padding: 1.875rem;
  gap: 1.875rem;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-right: 0.625rem;
}

.submeter {
  display: inline-flex;
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  width: auto;
  height: 2.5rem;
  border-radius: 3.125rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
}

.submeter:hover {
  background-color: var(--white);
  color: var(--orange);
}

.hidden {
  display: none;
}

.avaliacao {
  display: inline-flex;
  background-color: var(--dark-blue);
  border-radius: 3.125rem;
  font-weight: 400;
  width: 10.625rem;
  height: 1.875rem;
  color: var(--orange);
  margin: auto;
  align-items: center;
  justify-content: center;
}

@media (min-width: 23.4375rem) and (max-width: 90rem) {
  .caixa {
    margin: auto;
    width: 20.625rem;
    height: 23.75rem;
  }

  .itens {
    padding: 1.25rem;
  }
}
